<div id="<%= dom_id stream %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= stream.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stream.name %>
  </p>

</div>
