<div class="mx-auto max-w-2xl w-full pt-20">
  <h1 class="font-bold text-4xl">New stream</h1>

  <%= render "form", stream: @stream %>

  <%= link_to "Back to streams", streams_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
